# name: inception

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: volumes/wordpress
      o: bind
      type: none
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: volumes/mariadb
      o: bind
      type: none

networks:
  inception:
    name: inception
    driver: bridge

services:
  nginx:
    image: nginx
    container_name: nginx
    build: requirements/nginx/.
    ports: 
      - 443:443
    volumes: 
    - wordpress:/var/www/html
    depends_on: 
    - wordpress
    networks:
    - inception
    restart: always
  mariadb:
    container_name: mariadb
    build: requirements/mariadb/.
    volumes:
    - mariadb:/var/lib/mysql
    env_file:
      - .env
    networks:
    - inception
    restart: always
  wordpress:
    image: wordpress
    container_name: wordpress
    build: requirements/wordpress/.
    volumes: 
    - wordpress:/var/www/html
    depends_on: 
    - mariadb
    env_file:
    - .env
    networks:
    - inception
    restart: always